*.jpg
*.png
*.svg
*.prof
*.pt
*.onnx
*.engine
*.ipynb
.ipynb_checkpoints/
*__pycache__/
*.lprof
*.txt
*.pyc
*.tar
*.log
*.npy
*.pb
*.tflite
*.bin
*.param
*.torchscript
*_saved_model/
*_ncnn_model/
*.cache
*.DS_Store